{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "entry",
      "corejs": "3",
      "targets": {
        "browsers": [
          "> 1%",
          "not ie <= 11",
          "not op_mini all"
        ]
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "helpers": true,
      "regenerator": true
    }],
    "@babel/plugin-proposal-class-properties",
    "lodash"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}
