body {
  --white: #fff;
  --dark-bluish-grey: #33383d;
  --dark-grey: #222;
  --cinnabar: #c33;
  --light-blue: #0df;
  --blue: #069;
  --grey: #666;
  --light-grey: #ccc;
  --fake-black: #111;
  --light-yellow: #ff9;
}
